
{% extends 'base.html' %}
{% block othercss %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href='static/css/login.css' />
{% endblock %}
 


{% block main %}
<div class="login-form">
    <form action="" method="post">
        <h2 class="text-center">Please Log in</h2>       
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="username" required="required" value="{{
                request.form.username }}">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password" required="required" value="{{
                request.form.password }}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" >Log in</button>
        </div>
        <div class="clearfix">
            <!-- <label class="float-left form-check-label"><input type="checkbox"> Remember me</label> -->
            <a href="forgot_pass" class="float-right">Forgot Password?</a>
        </div>        
    </form>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
    <p class="text-center"><a href="create_acc">Create an Account</a></p>
</div>
{% endblock %}
