{% extends 'base.html' %}
{% block othercss %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href='static/css/create.css' />
{% endblock %}
 


{% block main %}
<div class="login-form">
    <form action="" method="post">
        <h2 class="text-center">Create New Password</h2>       
 
         <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password" required="required" value="{{
                request.form.password }}">
        </div>
   
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" >Reset!</button>
        </div>
 
    </form>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %} 
    {% if msg %}
        <p > {{ msg }}
    {% endif %}
      <p class="text-center"><a href="log_in">Back to Log in page</a></p>

</div>
{% endblock %}
