
{% extends 'base.html' %}
{% block othercss %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href='static/css/viewmood.css' />

{% endblock %}
 


{% block main %}


{% set val = val %}
<div class="grid-container">
    
  
    <div class="item2" style="background-color: #bbb;"></div>
      <div class="item2" style="background-color:#bbb;">J</div>
      <div class="item2" style="background-color:#bbb" >F</div>
      <div class="item2" style="background-color:#bbb;">M</div>  
      <div class="item2" style="background-color:#bbb;">A</div>
      <div class="item2" style="background-color:#bbb;">M</div>
      <div class="item2" style="background-color:#bbb;">J</div>
      <div class="item2" style="background-color:#bbb;">J</div>
      <div class="item2" style="background-color:#bbb;">A</div>  
       <div class="item2" style="background-color:#bbb;">S</div>
      <div class="item2" style="background-color:#bbb;">O</div>
      <div class="item2" style="background-color:#bbb;">N</div>  
      <div class="item2" style="background-color:#bbb;">D</div>
      <div class="item2" style="background-color:#bbb;"></div>
  
  

    
      
      
   
    <div class="grid-containercols">
      <div class="item1">1</div>
      <div class="item1">2</div>
      <div class="item1">3</div>
      <div class="item1">4</div>
      <div class="item1">5</div>
      <div class="item1">6</div>
      <div class="item1">7</div>
      <div class="item1">8</div>
      <div class="item1">9</div>
      <div class="item1">10</div>
      <div class="item1">11</div>
      <div class="item1">12</div>
      <div class="item1">13</div>
      <div class="item1">14</div>
      <div class="item1">15</div>
      <div class="item1">16</div>
      <div class="item1">17</div>
      <div class="item1">18</div>
      <div class="item1">19</div>
      <div class="item1">20</div>
      <div class="item1">21</div>
      <div class="item1">22</div>
      <div class="item1">23</div>
      <div class="item1">24</div>
      <div class="item1">25</div>
      <div class="item1">26</div>
      <div class="item1">27</div>
      <div class="item1">28</div>
      <div class="item1">29</div>
      <div class="item1">30</div>
      <div class="item1">31</div>
      </div>

<div class="grid-containercols">
      <div class="item1" style="background-color:{{val["Jan01:"]}};"></div>
<div class="item1" style="background-color:{{val["Jan02"]}};"></div>
<div class="item1" style="background-color:{{val["Jan03"]}};"></div>
<div class="item1" style="background-color:{{val["Jan04"]}};"></div>
<div class="item1" style="background-color:{{val["Jan05"]}};"></div>
<div class="item1" style="background-color:{{val["Jan06"]}};"></div>
<div class="item1" style="background-color:{{val["Jan07"]}};"></div>
<div class="item1" style="background-color:{{val["Jan08"]}};"></div>
<div class="item1" style="background-color:{{val["Jan09"]}};"></div>
<div class="item1" style="background-color:{{val["Jan10"]}};"></div>
<div class="item1" style="background-color:{{val["Jan11"]}};"></div>
<div class="item1" style="background-color:{{val["Jan12"]}};"></div>
<div class="item1" style="background-color:{{val["Jan13"]}};"></div>
<div class="item1" style="background-color:{{val["Jan14"]}};"></div>
<div class="item1" style="background-color:{{val["Jan15"]}};"></div>
<div class="item1" style="background-color:{{val["Jan16"]}};"></div>
<div class="item1" style="background-color:{{val["Jan17"]}};"></div>
<div class="item1" style="background-color:{{val["Jan18"]}};"></div>
<div class="item1" style="background-color:{{val["Jan19"]}};"></div>
<div class="item1" style="background-color:{{val["Jan20"]}};"></div>
<div class="item1" style="background-color:{{val["Jan21"]}};"></div>
<div class="item1" style="background-color:{{val["Jan22"]}};"></div>
<div class="item1" style="background-color:{{val["Jan23"]}};"></div>
<div class="item1" style="background-color:{{val["Jan24"]}};"></div>
<div class="item1" style="background-color:{{val["Jan25"]}};"></div>
<div class="item1" style="background-color:{{val["Jan26"]}};"></div>
<div class="item1" style="background-color:{{val["Jan27"]}};"></div>
<div class="item1" style="background-color:{{val["Jan28"]}};"></div>
<div class="item1" style="background-color:{{val["Jan29"]}};"></div>
<div class="item1" style="background-color:{{val["Jan30"]}};"></div>
<div class="item1" style="background-color:{{val["Jan31"]}};"></div>

</div>
<div class="grid-containercols">
  

  <div class="item1" style="background-color:{{val["Feb01:"]}};"></div>
<div class="item1" style="background-color:{{val["Feb02"]}};"></div>
<div class="item1" style="background-color:{{val["Feb03"]}};"></div>
<div class="item1" style="background-color:{{val["Feb04"]}};"></div>
<div class="item1" style="background-color:{{val["Feb05"]}};"></div>
<div class="item1" style="background-color:{{val["Feb06"]}};"></div>
<div class="item1" style="background-color:{{val["Feb07"]}};"></div>
<div class="item1" style="background-color:{{val["Feb08"]}};"></div>
<div class="item1" style="background-color:{{val["Feb09"]}};"></div>
<div class="item1" style="background-color:{{val["Feb10"]}};"></div>
<div class="item1" style="background-color:{{val["Feb11"]}};"></div>
<div class="item1" style="background-color:{{val["Feb12"]}};"></div>
<div class="item1" style="background-color:{{val["Feb13"]}};"></div>
<div class="item1" style="background-color:{{val["Feb14"]}};"></div>
<div class="item1" style="background-color:{{val["Feb15"]}};"></div>
<div class="item1" style="background-color:{{val["Feb16"]}};"></div>
<div class="item1" style="background-color:{{val["Feb17"]}};"></div>
<div class="item1" style="background-color:{{val["Feb18"]}};"></div>
<div class="item1" style="background-color:{{val["Feb19"]}};"></div>
<div class="item1" style="background-color:{{val["Feb20"]}};"></div>
<div class="item1" style="background-color:{{val["Feb21"]}};"></div>
<div class="item1" style="background-color:{{val["Feb22"]}};"></div>
<div class="item1" style="background-color:{{val["Feb23"]}};"></div>
<div class="item1" style="background-color:{{val["Feb24"]}};"></div>
<div class="item1" style="background-color:{{val["Feb25"]}};"></div>
<div class="item1" style="background-color:{{val["Feb26"]}};"></div>
<div class="item1" style="background-color:{{val["Feb27"]}};"></div>
<div class="item1" style="background-color:{{val["Feb28"]}};"></div>
<div class="item1" style="background-color:{{val["Feb29"]}};"></div>
<div class="item1" style="background-color:{{val["Feb30"]}};"></div>
<div class="item1" style="background-color:{{val["Feb31"]}};"></div>

</div>
<div class="grid-containercols">

  <div class="item1" style="background-color:{{val["Mar01:"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar02"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar03"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar04"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar05"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar06"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar07"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar08"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar09"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar10"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar11"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar12"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar13"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar14"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar15"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar16"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar17"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar18"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar19"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar20"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar21"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar22"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar23"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar24"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar25"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar26"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar27"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar28"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar29"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar30"]}};"></div>
  <div class="item1" style="background-color:{{val["Mar31"]}};"></div>

</div>
<div class="grid-containercols">

  <div class="item1" style="background-color:{{val["Apr01:"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr02"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr03"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr04"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr05"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr06"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr07"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr08"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr09"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr10"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr11"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr12"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr13"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr14"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr15"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr16"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr17"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr18"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr19"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr20"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr21"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr22"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr23"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr24"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr25"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr26"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr27"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr28"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr29"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr30"]}};"></div>
  <div class="item1" style="background-color:{{val["Apr31"]}};"></div>

</div>
<div class="grid-containercols">

  <div class="item1" style="background-color:{{val["May01:"]}};"></div>
  <div class="item1" style="background-color:{{val["May02"]}};"></div>
  <div class="item1" style="background-color:{{val["May03"]}};"></div>
  <div class="item1" style="background-color:{{val["May04"]}};"></div>
  <div class="item1" style="background-color:{{val["May05"]}};"></div>
  <div class="item1" style="background-color:{{val["May06"]}};"></div>
  <div class="item1" style="background-color:{{val["May07"]}};"></div>
  <div class="item1" style="background-color:{{val["May08"]}};"></div>
  <div class="item1" style="background-color:{{val["May09"]}};"></div>
  <div class="item1" style="background-color:{{val["May10"]}};"></div>
  <div class="item1" style="background-color:{{val["May11"]}};"></div>
  <div class="item1" style="background-color:{{val["May12"]}};"></div>
  <div class="item1" style="background-color:{{val["May13"]}};"></div>
  <div class="item1" style="background-color:{{val["May14"]}};"></div>
  <div class="item1" style="background-color:{{val["May15"]}};"></div>
  <div class="item1" style="background-color:{{val["May16"]}};"></div>
  <div class="item1" style="background-color:{{val["May17"]}};"></div>
  <div class="item1" style="background-color:{{val["May18"]}};"></div>
  <div class="item1" style="background-color:{{val["May19"]}};"></div>
  <div class="item1" style="background-color:{{val["May20"]}};"></div>
  <div class="item1" style="background-color:{{val["May21"]}};"></div>
  <div class="item1" style="background-color:{{val["May22"]}};"></div>
  <div class="item1" style="background-color:{{val["May23"]}};"></div>
  <div class="item1" style="background-color:{{val["May24"]}};"></div>
  <div class="item1" style="background-color:{{val["May25"]}};"></div>
  <div class="item1" style="background-color:{{val["May26"]}};"></div>
  <div class="item1" style="background-color:{{val["May27"]}};"></div>
  <div class="item1" style="background-color:{{val["May28"]}};"></div>
  <div class="item1" style="background-color:{{val["May29"]}};"></div>
  <div class="item1" style="background-color:{{val["May30"]}};"></div>
  <div class="item1" style="background-color:{{val["May31"]}};"></div>

</div>
<div class="grid-containercols">

  <div class="item1" style="background-color:{{val["Jun01:"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun02"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun03"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun04"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun05"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun06"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun07"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun08"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun09"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun10"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun11"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun12"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun13"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun14"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun15"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun16"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun17"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun18"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun19"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun20"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun21"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun22"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun23"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun24"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun25"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun26"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun27"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun28"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun29"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun30"]}};"></div>
  <div class="item1" style="background-color:{{val["Jun31"]}};"></div>

</div>
<div class="grid-containercols">

  <div class="item1" style="background-color:{{val["Jul01:"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul02"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul03"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul04"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul05"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul06"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul07"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul08"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul09"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul10"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul11"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul12"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul13"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul14"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul15"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul16"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul17"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul18"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul19"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul20"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul21"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul22"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul23"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul24"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul25"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul26"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul27"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul28"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul29"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul30"]}};"></div>
  <div class="item1" style="background-color:{{val["Jul31"]}};"></div>

</div>
<div class="grid-containercols">

  <div class="item1" style="background-color:{{val["Aug01:"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug02"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug03"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug04"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug05"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug06"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug07"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug08"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug09"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug10"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug11"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug12"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug13"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug14"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug15"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug16"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug17"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug18"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug19"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug20"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug21"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug22"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug23"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug24"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug25"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug26"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug27"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug28"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug29"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug30"]}};"></div>
  <div class="item1" style="background-color:{{val["Aug31"]}};"></div>

</div>
<div class="grid-containercols">

  <div class="item1" style="background-color:{{val["Sep01:"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep02"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep03"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep04"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep05"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep06"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep07"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep08"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep09"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep10"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep11"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep12"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep13"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep14"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep15"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep16"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep17"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep18"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep19"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep20"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep21"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep22"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep23"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep24"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep25"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep26"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep27"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep28"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep29"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep30"]}};"></div>
  <div class="item1" style="background-color:{{val["Sep31"]}};"></div>

</div>
<div class="grid-containercols">

  <div class="item1" style="background-color:{{val["Oct01:"]}};"></div>
<div class="item1" style="background-color:{{val["Oct02"]}};"></div>
<div class="item1" style="background-color:{{val["Oct03"]}};"></div>
<div class="item1" style="background-color:{{val["Oct04"]}};"></div>
<div class="item1" style="background-color:{{val["Oct05"]}};"></div>
<div class="item1" style="background-color:{{val["Oct06"]}};"></div>
<div class="item1" style="background-color:{{val["Oct07"]}};"></div>
<div class="item1" style="background-color:{{val["Oct08"]}};"></div>
<div class="item1" style="background-color:{{val["Oct09"]}};"></div>
<div class="item1" style="background-color:{{val["Oct10"]}};"></div>
<div class="item1" style="background-color:{{val["Oct11"]}};"></div>
<div class="item1" style="background-color:{{val["Oct12"]}};"></div>
<div class="item1" style="background-color:{{val["Oct13"]}};"></div>
<div class="item1" style="background-color:{{val["Oct14"]}};"></div>
<div class="item1" style="background-color:{{val["Oct15"]}};"></div>
<div class="item1" style="background-color:{{val["Oct16"]}};"></div>
<div class="item1" style="background-color:{{val["Oct17"]}};"></div>
<div class="item1" style="background-color:{{val["Oct18"]}};"></div>
<div class="item1" style="background-color:{{val["Oct19"]}};"></div>
<div class="item1" style="background-color:{{val["Oct20"]}};"></div>
<div class="item1" style="background-color:{{val["Oct21"]}};"></div>
<div class="item1" style="background-color:{{val["Oct22"]}};"></div>
<div class="item1" style="background-color:{{val["Oct23"]}};"></div>
<div class="item1" style="background-color:{{val["Oct24"]}};"></div>
<div class="item1" style="background-color:{{val["Oct25"]}};"></div>
<div class="item1" style="background-color:{{val["Oct26"]}};"></div>
<div class="item1" style="background-color:{{val["Oct27"]}};"></div>
<div class="item1" style="background-color:{{val["Oct28"]}};"></div>
<div class="item1" style="background-color:{{val["Oct29"]}};"></div>
<div class="item1" style="background-color:{{val["Oct30"]}};"></div>
<div class="item1" style="background-color:{{val["Oct31"]}};"></div>
</div>
<div class="grid-containercols">

  <div class="item1" style="background-color:{{val["Nov01:"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov02"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov03"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov04"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov05"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov06"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov07"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov08"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov09"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov10"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov11"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov12"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov13"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov14"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov15"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov16"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov17"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov18"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov19"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov20"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov21"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov22"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov23"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov24"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov25"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov26"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov27"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov28"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov29"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov30"]}};"></div>
  <div class="item1" style="background-color:{{val["Nov31"]}};"></div>
                                                                

</div>
<div class="grid-containercols">

  <div class="item1" style="background-color:{{val["Dec01:"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec02"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec03"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec04"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec05"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec06"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec07"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec08"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec09"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec10"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec11"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec12"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec13"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec14"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec15"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec16"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec17"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec18"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec19"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec20"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec21"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec22"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec23"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec24"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec25"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec26"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec27"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec28"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec29"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec30"]}};"></div>
  <div class="item1" style="background-color:{{val["Dec31"]}};"></div>

</div>

<div class="grid-containercols">
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  <div class="item1"></div>
  </div>


    </div>

{% endblock %}