body {

    background-image: url("../img/mona.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:     contain; 
    background-position: center center;
    background-color: rgb(215, 188, 209)
    
  }
  
  /* image from: https://unsplash.com/es/fotos/vC8wj_Kphak */
  
  .drop {
  
      width: 340px;
      margin: 50px auto;
        font-size: 15px;
  }
  